.main-container.vh100.vw100
  .page-hdr.p1
    .page-title.text-xlarge Мониторинг состояния оборудования
  .page-content
    p Here will be the content
  footer.page-footer.plr1
    .itc-logo-container
      a.itc-logo(href='http://sarov-itc.ru/', target="_blank")
        img(src="assets/images/logo.png", alt="лого")
